@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Serif+Pro:400,700");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #223474; }

*, *:before, *:after {
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #bbdddb;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ff0000;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
//    ========================================================================== */
html, .root {
  background-color: #f3eee5;
  font-size: 16px;
  line-height: 23px; }

body, .article {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.4375em;
  margin: auto; }

h1, .h1 {
  font-size: 4.1875em;
  line-height: 1.02985075em;
  margin-top: 0.34328358em;
  margin-bottom: 0.68656716em; }

h2, .h2 {
  font-size: 2.625em;
  line-height: 1.0952381em;
  margin-top: 0.54761905em;
  margin-bottom: 0.54761905em; }

h3, .h3 {
  font-size: 1.625em;
  line-height: 1.76923077em;
  margin-top: 0.88461538em;
  margin-bottom: 0em; }

h4, .h4 {
  font-size: 1em;
  line-height: 1.4375em;
  margin-top: 1.4375em;
  margin-bottom: 0em; }

h5, .h5 {
  font-size: 1em;
  line-height: 1.4375em;
  margin-top: 1.4375em;
  margin-bottom: 0em; }

p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.4375em; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em; }

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0; }

b, i, strong, em, small, code {
  line-height: 0; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, a {
  font-family: "PT Sans", sans-serif;
  font-weight: 400; }

p, ul, ol {
  font-family: "Source Serif Pro", serif; }

a {
  color: #ce7304;
  transition: all .5s ease; }
  @media (min-width: 64.0625em) {
    a {
      opacity: .8; }
      a:hover {
        opacity: 1; } }

.logoReplace a {
  display: inline-block;
  width: 175px;
  height: 85px;
  background-size: cover;
  background-image: url("../images/logo.png");
  text-indent: -9999px;
  margin: 0 auto; }
  .logoReplace a:after {
    display: none; }
  @media (min-width: 34.375em) {
    .logoReplace a {
      width: 250px;
      height: 115px; } }
  @media (min-width: 64.0625em) {
    .logoReplace a {
      opacity: 1; } }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-sme:before {
  content: "\e903";
  color: inherit; }

#sme {
  text-decoration: none; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }

.inner {
  max-width: 660px;
  margin: 0 auto; }

.bold {
  font-weight: 700; }

p > a {
  font-family: "Source Serif Pro", serif; }

section {
  padding-left: 4%;
  padding-right: 4%; }
  @media (min-width: 31.25em) {
    section {
      padding-left: 4%;
      padding-right: 4%; } }
  @media (min-width: 40.625em) {
    section {
      padding-top: 12px; } }

.form .cognito a {
  visibility: hidden; }

.form {
  background-image: url(../images/formBackground.jpg);
  padding-top: 46px;
  padding-bottom: 46px;
  background-position: 70%;
  background-size: cover;
  margin-bottom: 46px; }
  .form h2 {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 23px 4%; }
    @media (min-width: 50.625em) {
      .form h2 {
        max-width: 75%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+78,ffffff+100&0.75+86,0+100 */
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 78%, rgba(255, 255, 255, 0.75) 86%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 78%, rgba(255, 255, 255, 0.75) 86%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 78%, rgba(255, 255, 255, 0.75) 86%, rgba(255, 255, 255, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 );
        /* IE6-9 */ } }
  .form .c-forms-form {
    margin: 0 auto; }
  .form .c-forms-form-body {
    padding: 23px 4%; }
  .form .cognito .c-forms-form input[type=text] {
    border: 2px solid #223474; }
  .form .cognito span p {
    color: #f3eee5;
    font-size: 1.5em;
    line-height: 1.5em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hide {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  /*a[href]:after {
      content: " (" attr(href) ")";
  }  this prints the href after each link on the page. */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
header {
  margin-bottom: 20px; }
  header h1 {
    margin: 0 0 20px; }
  header .contactInfo {
    text-align: right; }
    @media (min-width: 34.375em) {
      header .contactInfo {
        position: absolute;
        right: 0;
        top: 14px; } }
    header .contactInfo .cta {
      display: inline-block;
      border: 4px solid #ce7304;
      border-radius: 5px;
      color: #ce7304;
      background-color: #f3eee5;
      padding: 6px 12px;
      font-size: 1em;
      text-decoration: none;
      margin-bottom: 8px; }
      @media (min-width: 64.0625em) {
        header .contactInfo .cta:hover {
          color: #f3eee5;
          background-color: #ce7304; } }
  header a.menuButton {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 2em;
    padding: 5px 15px 5px 0;
    margin: 0px auto;
    color: #223474; }
    @media (min-width: 50.625em) {
      header a.menuButton {
        display: none !important; } }
  header nav {
    margin: 0 auto; }
  header p.number {
    font-size: 1em; }
  header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between; }
    @media (min-width: 50.625em) {
      header ul {
        display: flex !important; } }
  @media (min-width: 50.625em) {
    header li {
      display: inline-block;
      flex: 1 auto;
      text-align: center; }
      header li:last-child a {
        padding-right: 0; } }
  header li a {
    display: inline-block;
    font-size: 1.1em;
    padding: 7px 4px 7px;
    transition: all .5s ease;
    position: relative;
    text-decoration: none;
    color: #223474;
    font-family: "Source Serif Pro", serif;
    border-bottom: 1px solid #f3eee5; }
    header li a.focused {
      color: #0b460a;
      border-bottom: 1px solid #0b460a; }
    @media (min-width: 50.625em) {
      header li a {
        padding-bottom: 0; } }
    @media (min-width: 64.0625em) {
      header li a {
        opacity: 1; }
        header li a:hover {
          border-bottom: 1px solid #223474; } }
  header div.headWrapper {
    margin: 0 auto;
    margin-left: 4%;
    margin-right: 4%;
    position: relative; }
    @media (min-width: 75em) {
      header div.headWrapper {
        max-width: 1100px;
        margin: 0 auto; } }

body.home .intro {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: 53%;
  margin-bottom: 46px; }
  @media (min-width: 50.625em) {
    body.home .intro {
      background-position: 0%;
      margin: 0 auto;
      margin-bottom: 46px; } }
  @media (min-width: 62.5em) {
    body.home .intro {
      padding-top: 46px;
      padding-bottom: 46px; } }
  @media (min-width: 75em) {
    body.home .intro {
      max-width: 1100px;
      margin: 0 auto;
      margin-bottom: 46px; } }
  body.home .intro .background {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 23px 4%; }
    @media (min-width: 34.375em) {
      body.home .intro .background {
        max-width: 75%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+78,ffffff+100&0.75+86,0+100 */
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 78%, rgba(255, 255, 255, 0.75) 86%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 78%, rgba(255, 255, 255, 0.75) 86%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 78%, rgba(255, 255, 255, 0.75) 86%, rgba(255, 255, 255, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 );
        /* IE6-9 */
        padding-bottom: 0;
        margin-bottom: 92px;
        margin-top: 23px; } }
    @media (min-width: 40.625em) {
      body.home .intro .background {
        max-width: 60%; } }
  body.home .intro h2, body.home .intro p, body.home .intro .cta {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75); }
    @media (min-width: 34.375em) {
      body.home .intro h2, body.home .intro p, body.home .intro .cta {
        max-width: 90%; } }
  body.home .intro .cta {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 23px;
    border-bottom: 1px solid rgba(2, 2, 2, 0); }
    @media (min-width: 64.0625em) {
      body.home .intro .cta {
        opacity: 1; }
        body.home .intro .cta:hover {
          border-bottom: 1px solid #ce7304; } }
body.home .tagline {
  color: #0b460a;
  margin-bottom: 46px; }
  @media (min-width: 40.625em) {
    body.home .tagline {
      margin-bottom: 92px; } }
body.home .services {
  background-image: url("../images/servicesBackground.jpg");
  padding-bottom: 23px;
  margin-bottom: 46px; }
  @media (min-width: 40.625em) {
    body.home .services {
      padding-bottom: 69px; } }
  body.home .services h3 {
    color: #f3eee5;
    line-height: 1.35em;
    padding: 46px 0 23px; }
    @media (min-width: 50.625em) {
      body.home .services h3 {
        max-width: 75%; } }
  body.home .services .flexWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch; }
  body.home .services .flexItem {
    display: inline-block;
    background-color: rgba(243, 238, 229, 0.7);
    padding: 23px 4%;
    margin-bottom: 23px;
    border-radius: 4px;
    flex: 1 100%;
    border: 6px solid rgba(243, 238, 229, 0); }
    @media (min-width: 40.625em) {
      body.home .services .flexItem {
        flex: 1 auto;
        max-width: 48%; } }
    @media (min-width: 75em) {
      body.home .services .flexItem {
        max-width: 23.5%;
        padding: 23px; } }
    @media (min-width: 64.0625em) {
      body.home .services .flexItem:hover {
        background-color: #f3eee5;
        border: 6px solid #0b460a; } }
  body.home .services a {
    text-decoration: none;
    opacity: 1; }
    @media (min-width: 64.0625em) {
      body.home .services a:hover {
        color: #0b460a; } }
    body.home .services a h4, body.home .services a p {
      color: #223474; }
  body.home .services h4 {
    font-size: 1.4em;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 1.1em; }
    @media (min-width: 34.375em) {
      body.home .services h4 {
        font-size: 1.6em; } }
body.home .testimonial {
  color: #0b460a;
  padding-bottom: 23px; }
  @media (min-width: 40.625em) {
    body.home .testimonial {
      padding-top: 46px;
      padding-bottom: 69px; } }
  body.home .testimonial .inner {
    padding: 23px 23px 0;
    position: relative; }
    body.home .testimonial .inner .top, body.home .testimonial .inner .bottom {
      position: absolute;
      width: 92px;
      height: 92px; }
    body.home .testimonial .inner .top {
      top: 0;
      border-top: 2px solid #0b460a; }
    body.home .testimonial .inner .bottom {
      bottom: 0;
      border-bottom: 2px solid #0b460a; }
    body.home .testimonial .inner .left {
      left: 0;
      border-left: 2px solid #0b460a; }
    body.home .testimonial .inner .right {
      right: 0;
      border-right: 2px solid #0b460a; }
  @media (min-width: 34.375em) {
    body.home .testimonial img {
      max-width: 50%;
      float: left;
      padding-right: 4%;
      padding-bottom: 2px; } }
  body.home .testimonial .quote {
    font-family: "PT Sans", sans-serif;
    font-size: 1.5em; }
  body.home .testimonial .fa-quote-left {
    margin-bottom: 11px; }
  body.home .testimonial .testimonialAttribution {
    font-weight: 700;
    padding-bottom: 23px;
    font-size: .9em; }

body.internal .header {
  background-image: url(../images/servicesBackground.jpg);
  background-size: cover;
  background-position: 53%;
  margin-bottom: 46px; }
  @media (min-width: 50.625em) {
    body.internal .header {
      background-position: 0%;
      margin: 0 auto;
      margin-bottom: 46px; } }
  @media (min-width: 62.5em) {
    body.internal .header {
      padding-top: 46px;
      padding-bottom: 46px; } }
  body.internal .header h2, body.internal .header p {
    color: #f3eee5;
    max-width: 660px; }
  body.internal .header svg, body.internal .header .icon-sme:before {
    color: #ce7304;
    font-size: 1.3em;
    margin-right: 3px; }
body.internal .introText {
  font-size: 1.3em;
  line-height: 1.3em; }
body.internal .background {
  padding: 23px 4%; }
  @media (min-width: 34.375em) {
    body.internal .background {
      padding-bottom: 0;
      margin-bottom: 92px;
      margin-top: 23px; } }
  @media (min-width: 75em) {
    body.internal .background {
      max-width: 1100px;
      margin: 0 auto;
      margin-bottom: 46px; } }
body.internal .internalDetail {
  flex: 1 100%; }
  @media (min-width: 50.625em) {
    body.internal .internalDetail {
      flex-grow: 3;
      flex-shrink: 1; } }
  body.internal .internalDetail ul {
    margin-bottom: 46px;
    max-width: 660px; }
  body.internal .internalDetail .quotation {
    color: #0b460a;
    margin: 0 10%; }
  body.internal .internalDetail .attribution {
    font-family: "PT Sans", sans-serif;
    font-size: .9em;
    font-weight: bold; }
body.internal .testimonial {
  color: #0b460a;
  padding-bottom: 23px;
  flex: 1 100%;
  flex-grow: 1; }
  @media (min-width: 40.625em) {
    body.internal .testimonial {
      padding-top: 46px;
      padding-bottom: 69px; } }
  @media (min-width: 50.625em) {
    body.internal .testimonial {
      flex-shrink: 2;
      padding: 0; } }
  body.internal .testimonial .testimonialWrapper {
    padding: 23px 23px 0;
    position: relative;
    max-width: 660px; }
    body.internal .testimonial .testimonialWrapper .top, body.internal .testimonial .testimonialWrapper .bottom {
      position: absolute;
      width: 92px;
      height: 92px; }
    body.internal .testimonial .testimonialWrapper .top {
      top: 0;
      border-top: 2px solid #0b460a; }
    body.internal .testimonial .testimonialWrapper .bottom {
      bottom: 0;
      border-bottom: 2px solid #0b460a; }
    body.internal .testimonial .testimonialWrapper .left {
      left: 0;
      border-left: 2px solid #0b460a; }
    body.internal .testimonial .testimonialWrapper .right {
      right: 0;
      border-right: 2px solid #0b460a; }
  @media (min-width: 34.375em) {
    body.internal .testimonial img {
      max-width: 50%;
      float: left;
      padding-right: 4%;
      padding-bottom: 2px; } }
  @media (min-width: 50.625em) {
    body.internal .testimonial img {
      max-width: 100%; } }
  body.internal .testimonial .quote {
    font-family: "PT Sans", sans-serif;
    font-size: 1.5em; }
  body.internal .testimonial .fa-quote-left {
    margin-bottom: 11px; }
  body.internal .testimonial .testimonialAttribution {
    font-weight: 700;
    padding-bottom: 23px;
    font-size: .9em; }
@media (min-width: 50.625em) {
  body.internal .flexWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto; } }
body.internal ul.subList {
  margin-bottom: 0; }

body.sme div.headerImage {
  background-image: url(../images/confRoom.jpg);
  background-position: 90% 0%; }

body.pm div.headerImage {
  background-image: url(../images/pmHeader.jpg);
  background-position: 90% 0%; }

div.headerImage {
  background-size: cover;
  margin-bottom: 46px; }
  div.headerImage h2, div.headerImage p {
    color: #f3eee5; }
  div.headerImage i, div.headerImage svg {
    color: #ce7304; }
  @media (min-width: 50.625em) {
    div.headerImage {
      margin: 0 auto;
      margin-bottom: 46px; } }
  @media (min-width: 62.5em) {
    div.headerImage {
      padding-top: 46px;
      padding-bottom: 46px; } }
  @media (min-width: 75em) {
    div.headerImage {
      max-width: 1100px;
      margin: 0 auto;
      margin-bottom: 46px; } }

div.backgroundShade {
  background-color: rgba(34, 52, 116, 0.75);
  padding: 23px 4%; }
  @media (min-width: 34.375em) {
    div.backgroundShade {
      max-width: 75%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+78,ffffff+100&0.75+86,0+100 */
      background: -moz-linear-gradient(left, #223474 0%, rgba(34, 52, 116, 0.75) 78%, rgba(34, 52, 116, 0.75) 86%, rgba(34, 52, 116, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #223474 0%, rgba(34, 52, 116, 0.75) 78%, rgba(34, 52, 116, 0.75) 86%, rgba(34, 52, 116, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #223474 0%, rgba(34, 52, 116, 0.75) 78%, rgba(34, 52, 116, 0.75) 86%, rgba(34, 52, 116, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 );
      /* IE6-9 */
      padding-bottom: 0;
      margin-top: 23px; } }
  @media (min-width: 40.625em) {
    div.backgroundShade {
      max-width: 60%; }
      div.backgroundShade .introText {
        padding-bottom: 48px; } }

footer {
  background-color: #223474;
  color: #f3eee5;
  padding-top: 23px;
  display: inline-block;
  width: 100%; }
  @media (min-width: 40.625em) {
    footer {
      margin-top: 46px; } }
  footer a {
    color: #f3eee5;
    display: inline-block;
    padding: 4px 12px;
    font-family: "Source Serif Pro", serif;
    text-decoration: none;
    border-bottom: 1px solid #223474; }
    @media (min-width: 64.0625em) {
      footer a {
        opacity: 1; }
        footer a:hover {
          border-bottom: 1px solid #f3eee5; } }
  footer li {
    display: inline; }
    footer li:first-child a {
      padding-left: 0; }
  footer ul {
    list-style: none;
    padding-left: 4%;
    max-width: 1100px; }
    @media (min-width: 75em) {
      footer ul {
        padding-left: 0; } }
  footer .subFooter {
    background-color: #0b460a;
    font-family: "PT Sans", sans-serif;
    font-size: .9em;
    padding: 11px 4% 0;
    line-height: 1.2em; }
    footer .subFooter .copyright {
      margin-bottom: 11px; }
      @media (min-width: 840px) {
        footer .subFooter .copyright {
          float: left;
          padding-top: 4px; } }
    footer .subFooter .attribution {
      padding-bottom: 11px;
      margin-bottom: 0; }
      footer .subFooter .attribution a {
        text-decoration: underline;
        padding-bottom: 0; }
      @media (min-width: 40.625em) {
        footer .subFooter .attribution {
          text-align: right; } }
      @media (min-width: 840px) {
        footer .subFooter .attribution {
          float: right; } }
    footer .subFooter a {
      border-bottom: none; }
      @media (min-width: 64.0625em) {
        footer .subFooter a:hover {
          border-bottom: none;
          color: #fff;
          opacity: 1; } }

/*# sourceMappingURL=style.css.map */
