footer { 
	background-color: $dblue;
	color: $tan;
	padding-top: 23px;
	display: inline-block;
	width: 100%;
	@include bp($small){
		margin-top: 23px*2;
	}



	a {
		color: $tan;
		display: inline-block;
		padding: 4px 12px;
		font-family: $fontB;
		text-decoration: none;
		border-bottom: 1px solid $dblue;

		@include bp($hover){
			opacity: 1;

			&:hover{
				border-bottom: 1px solid $tan;
			}
		}
	}
	li {
		display: inline;

		&:first-child a {
			padding-left: 0;
		}
	}
	ul {
		list-style: none;
		padding-left: 4%;

		max-width: 1100px;

		@include bp($xlarge){
			padding-left: 0;
		}
	}


	.subFooter{
		background-color: $dgreen;
		font-family: $fontH;
		font-size: .9em;
		padding: 11px 4% 0;
		line-height: 1.2em;

		.copyright {
			margin-bottom: 11px;

			@include bp(840px){
				float:left;
				padding-top: 4px;
			}
		}
		.attribution {
			padding-bottom: 11px;
			margin-bottom: 0;
			a {
				text-decoration: underline;
				padding-bottom: 0;
			}

			@include bp($small){
				text-align: right;
			}
				@include bp(840px){
				float:right;
			}


		}
		a {
		border-bottom: none;

		@include bp($hover){

			&:hover{
				border-bottom: none;
				color: #fff;
				opacity: 1;
			}
		}
	}
	}

}
