footer { 
	background-color: $dblue;
	color: $tan;
	padding-top: 23px;



	a {
		color: $tan;
		display: inline-block;
		padding: 4px 23px 4px 0;
		font-family: $fontB;
		text-decoration: none;
	}
	li {
		display: inline;
	}
	ul {
		list-style: none;
		padding-left: none;
	}


	.subFooter{
		background-color: $dgreen;
		font-family: $fontH;
		font-size: .9em;
		padding: 11px 4% 0;
		line-height: 1.2em;

		.copyright {
			margin-bottom: 11px;
		}
		.attribution {
			padding-bottom: 11px;
			margin-bottom: 0;
			a {
				text-decoration: underline;
				padding-bottom: 0;
			}

			@include bp($small){
				text-align: right;
			}
		}
	}

}
