body.home{
	.intro {
		background-image: url(../images/hero.jpg);
		background-size: cover;
		background-position: 53%;
		margin-bottom: 46px;

		@include bp($med){
			background-position: 0%;
			margin: 0 auto;
			margin-bottom: 46px;
			}

			@include bp($large){
				padding-top:46px;
				padding-bottom: 46px;
			}
			@include bp($xlarge){
					max-width: 1100px;
			margin: 0 auto;
			margin-bottom: 46px;
		}

		
		.background{
			background-color: rgba(255,255,255,.75);
			padding: 23px 4%;

			@include bp($xsmall){
				max-width: 75%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+78,ffffff+100&0.75+86,0+100 */
				background: -moz-linear-gradient(left, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 78%, rgba(255,255,255,0.75) 86%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 78%,rgba(255,255,255,0.75) 86%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 78%,rgba(255,255,255,0.75) 86%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */	
				padding-bottom: 0;
				margin-bottom: 23px * 4;
				margin-top: 23px;

			}

			@include bp($small){
				max-width: 60%;
			}
		}

		h2, p, .cta{
			text-shadow: 0 0 5px rgba(255,255,255,.75);

			@include bp($xsmall){
				max-width: 90%;
			}
		}
	
		
		.cta{
			font-size: 1.2em;
			text-decoration: none;
			font-weight: 700;
			display: inline-block;
			margin-bottom: 23px;
			border-bottom: 1px solid rgba(2,2,2,0);

			@include bp($hover){
				opacity:1;
				&:hover{
					border-bottom: 1px solid $orange;
				}	
			}

		}
	}

	.tagline {
		color: $dgreen;
		//display: inline-block;
		margin-bottom: 23px*2;

		@include bp($small){
			margin-bottom: 23px*4;
		}
	}

	.services{

		background-image: url('../images/servicesBackground.jpg');
		padding-bottom: 23px;
		margin-bottom: 46px;

		@include bp($small){
			padding-bottom: 23px*3;
		}


		h3 {
			color: $tan;
			line-height: 1.35em;
			padding: 46px 0 23px;

			@include bp($med){
				max-width: 75%;
			}

		}

		.flexWrap {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: stretch;

			
		}

		.flexItem {
			display: inline-block;
			background-color: rgba(243,238,229,.7);
			padding: 23px 4%;
			margin-bottom: 23px;
			border-radius: 4px;
			flex: 1 100%;
			border: 6px solid rgba(243,238,229,0);

			@include bp($small){
				flex: 1 auto;
				max-width: 48%;
			}

			@include bp($xlarge){
				max-width: 23.5%;
				padding: 23px;
			}

			@include bp($hover){
				&:hover{
					background-color: $tan;
					border: 6px solid $dgreen;
				}
			}
		}

		a {
				text-decoration: none;
				opacity: 1;

				@include bp($hover){
					
						&:hover{
						color: $dgreen;
						}
					
					
				}


				

			h4, p {
				color: $dblue;
			}

		}

		h4{
			font-size: 1.4em;
			margin-top: 12px;
			margin-bottom: 12px;
			line-height:1.1em;

			@include bp($xsmall){
				font-size: 1.6em;
			}
		}
	}

	.testimonial {
		color: $dgreen;
		padding-bottom: 23px;

		@include bp($small){
			padding-top: 23px*2;
			padding-bottom: 23px*3;
		}

		.inner{
			padding: 23px 23px 0;
			position: relative;

			.top, .bottom {
				position: absolute;
				width: 92px;
				height: 92px;
			}
			.top {
				top: 0;
				border-top: 2px solid $dgreen;
			}
			.bottom {
				bottom: 0;
				border-bottom: 2px solid $dgreen;
			}
			.left {
				left: 0;
				border-left: 2px solid $dgreen;
			}
			.right {
				right: 0;
				border-right: 2px solid $dgreen;
			}
		}

		img {
			@include bp($xsmall){
				max-width: 50%;
				float: left;
				padding-right: 4%;
				padding-bottom: 2px;
			}
		}

		.quote {
			font-family: $fontH;
			font-size: 1.5em;

		}
		.fa-quote-left {
			margin-bottom: 11px;
		}
		.testimonialAttribution {
			font-weight: 700;
			padding-bottom: 23px;
			font-size: .9em;

		}

	}

	

}