body.home{
	.intro {
		background-image: url(../images/hero.gif);
		background-size: cover;
		background-position: 53%;
		display: inline-block;
		margin-bottom: 46px;
		
		.background{
			background-color: rgba(255,255,255,.75);
			padding: 23px 4%;
		}

		h2, p, .cta{
			text-shadow: 0 0 5px rgba(255,255,255,.75);
		}
	
		
		.cta{
			font-size: 1.2em;
			text-decoration: none;
			font-weight: 700;
			display: inline-block;
			margin-bottom: 23px;

		}
	}

	.tagline {
		color: $dgreen;
		display: inline-block;
		margin-bottom: 23px;

	}

	.services{

		background-image: url('../images/servicesBackground.jpg');
		padding-bottom: 1px;
		margin-bottom: 46px;


		h3 {
			color: $tan;
			line-height: 1.35em;
			padding: 46px 0 23px;

		}

		.flexItem {
			display:inline-block;
			background-color: rgba(243,238,229,.7);
			padding: 23px 4%;
			margin-bottom: 23px;
			border-radius: 4px;
			
		}

		a {
				text-decoration: none;
				

			h4, p {
				color: $dblue;
			}

		}

		h4{
			font-size: 1.4em;
			margin-top: 12px;
			margin-bottom: 12px;
			line-height:1.1em;


		}
	}

	.testimonial {
		color: $dgreen;

		.inner{
			padding: 23px 23px 0;
			position: relative;

			.top, .bottom {
				position: absolute;
				width: 46px;
				height: 46px;
			}
			.top {
				top: 0;
				border-top: 2px solid $dgreen;
			}
			.bottom {
				bottom: 0;
				border-bottom: 2px solid $dgreen;
			}
			.left {
				left: 0;
				border-left: 2px solid $dgreen;
			}
			.right {
				right: 0;
				border-right: 2px solid $dgreen;
			}
		}

		.quote {
			font-family: $fontH;
			font-size: 1.5em;

		}
		.fa-quote-left {
			margin-bottom: 11px;
		}
		.testimonialAttribution {
			font-weight: 700;
			padding-bottom: 23px;
			font-size: .9em;

		}

	}

	.form {
		background-image: url(../images/formBackground.jpg);
		padding-top: 46px;
		padding-bototm: 46px;
		background-position: 45%;
		background-size: cover;

		h2{
			text-shadow: 0 0 5px rgba(255,255,255,.75);
		    background-color: rgba(255,255,255,.7);
		    padding: 23px 4%;
		}
		.c-forms-form-body {
			padding: 23px 4%;
		}
		.cognito .c-forms-form input[type=text]{
			border: 2px solid $dblue;
		}


}